
@{
    ViewData["Title"] = "Chitiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <div>
    <p>@Model.TenSanPham</p>
    @if (Model.UrlImage == null)
    {
        <img style="width: 500px; height: 500px;" src="~/images/no_image.jpg" alt="...">
    }
    else
    {
        <img style="width: 50%; height: 50%;" src="@Model.UrlImage" alt="...">
    }
    <p>Price: @Model.Gia</p>
    <p>Description: @Model.Mota</p>
</div> *@
<h1>Chitiet</h1>

