@model IEnumerable<WebEco.Models.Entity.Product>
@{
    ViewData["Title"] = "Them";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-center">
    <div class="col-6 px-5 pt-5 border rounded-3 shadow-lg">
        <h2 class="text-center fw-bold pb-4">Thêm sản phẩm</h2>
        <hr />
        <form action="/Product/Them" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="tensanpham" class="form-label fw-bolder">Tên sản phẩm</label>
                <input for="tensanpham" type="text" class="form-control" name="tensanpham" value="" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="mota" class="form-label fw-bolder">Mô tả</label>
                <input for="mota" type="text" class="form-control" name="mota" value="" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="gia" class="form-label fw-bolder">Giá bán</label>
                <input for="gia" type="number" class="form-control" name="gia" value="" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="hinhanh" class="form-label fw-bolder">Ảnh đại diện</label>
                <div class="d-flex justify-content-center align-items-center py-2">
                    <img id="showimage" style="width: 450px; height: 300px;" src="~/images/noimage.jpg" alt="..." />
                </div>
                <input type="file" class="form-control" id="showimage" name="hinhanh" onchange="readURL(this)" aria-describedby="image">
            </div>
        <hr />
            <div class="d-flex align-items-center justify-content-center my-5 gap-5">
                <button type="submit" id="themgiohang" class="btn btn-primary px-4 py-2">Thêm sản phẩm</button>
            </div>
        </form>
    </div>
</div>
@*<div class="d-flex justify-content-center">
    <div class="col-6 px-5 pt-5 border rounded-3 shadow-lg">
        <h2 class="text-center fw-bold pb-4">Thêm sản phẩm</h2>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <form action="/Product/Them" method="post">
            <div class="mb-4">
                <label for="TenSanPham" class="form-label fw-bolder">Tên sản phẩm</label>
                <input type="text" class="form-control" id="TenSanPham" value="" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="Mota" class="form-label fw-bolder">Mô tả</label>
                <input for="Mota" type="text" class="form-control" id="Mota" value="" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="Gia" class="form-label fw-bolder">Giá bán</label>
                <input for="Gia" type="number" class="form-control" id="Gia" value="" aria-describedby="text">
            </div>
            <div class="mb-4">
            <label for="hinhanh" class="form-label fw-bolder">Ảnh đại diện</label>
            <div class="d-flex justify-content-center align-items-center py-2">
            <img id="showimage" style="width: 450px; height: 300px;" src="~/images/noimage.jpg" alt="..." />
            </div>
            <input for="hinhanh" type="file" class="form-control" id="hinhanh" onchange="readURL(this)" aria-describedby="image">
            </div>
            <hr />
            <div class="d-flex align-items-center justify-content-center my-5 gap-5">
                <button type="submit" id="themsanpham" class="btn btn-primary px-4 py-2">Thêm sản phẩm</button>
            </div>
        </form>
    </div>
</div>*@
@*ham cua h.a *@
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#showimage').attr('src', e.target.result).width(450).height(300);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

